body {
 background-color: #121213;
 color: #d7dadc;
}
#title {
font-size: 1.5em;
text-align: center;
}
#share {
  min-width: 100px;
  font-size: 1em;
  text-align: right;
  color: yellow;
  margin-left: 75px;
}
#game {
  margin: auto;
  max-width: 330px;
}
#playboard {
  margin: 0px 10px ;
}
.guesspiece {
  text-align: center;
  font-size: 2.5em;
  height: 65px;
  border: 2px #3a3a3c solid ;
  border-radius: 2px;
  margin: 1%;
}
.spacer {
  min-height: 15px;
}

.piece {
  font-size: 1.75em;
  height: 65px;
  width: 30px;
  background-color: #818384;
  border-radius: 2px;
  padding: 2% 0%;
  text-align: center;
  margin: 0.75%;
}
.piece2 {
  font-size: 1.25em;
  width: 45px;
  height: 65px;
  background-color: #818384;
  border-radius: 2px;
  padding: 3% 0%;
  text-align: center;
  margin: 0.75%;
}
#first {
  margin-left: -20px;
}
#second {
  margin-left: 0px;
}
#third {
  margin-left: -15px;
}
a {
text-decoration: none;
color: #818384;
}
a:hover {
text-decoration: none;
color: #004FFF;
}
